In [9]:
lst=["red",1,44,14,44.87,True,1,44]
lst[0:1]= ["blue","yellow"]
print(lst)
print(type(lst))

['blue', 'yellow', 1, 44, 14, 44.87, True, 1, 44]
<class 'list'>

**Tuple**
A tuple is a ordered collection of item in python
immutable in nature (once assigned can't be modified)
support multiple element
define using pranthesis ()
Support indexing and slicing concepts
for changing any data in the tuple we first convert it in list (karle jugaad karle)

In [4]:
tpl = (1,2,3,"hello",True,22.34,3)
print(tpl)
print(type(tpl))
tpls= ("hello",)# tuple with a single element
print(tpls)
print(tpl[5])
# tuplle is immutable so only we have only two methods in it
print(tpl.count("hello"))
print(tpl.index("hello"))

(1, 2, 3, 'hello', True, 22.34, 3)
<class 'tuple'>
('hello',)
22.34
1
3

**Set**
A set is a collection of unique and unorderd element
Define using curly brasses { } OR set() constructor
Duplicates are automatically removed
Sets are mutable but element inside must be immutable
true and false consider as 1 & 0
Use to perform math operation
can't perform actions of indexing and slicing

In [1]:
st = {"hello",1,2,False,22.23,0,2}
print(st)
print(type(st))
# set methods
st2= st.copy()
print ("date")
#st,update - add multiple elements (from list, tuple , set)
st.update([6,7],{8,9})
print(st)
#remove - temove an element
#raises key eror if element not found
st.remove(2)
print(st)
# discard - remove element if present
# doesnot raises erroe if element id is not present
st.discard(2)
print(st)
#pop remove element randomly
st.pop
print(st)

{False, 1, 2, 22.23, 'hello'}
<class 'set'>
date
{False, 1, 2, 6, 7, 8, 9, 22.23, 'hello'}
{False, 1, 6, 7, 8, 9, 22.23, 'hello'}
{False, 1, 6, 7, 8, 9, 22.23, 'hello'}
{False, 1, 6, 7, 8, 9, 22.23, 'hello'}

In [3]:
##mathematical operator
# union |
#combine all the unique elements
a={1,2,3}
b={3,4,5}
print(a.union(b))
print (a|b)
## intersection &
#return common elemnts
print(a& b)
print(a.intersection(b))
## differnce -
#retun element present in one set but not in other
print(b.difference(a))
print(a.difference(b))
## symmetric_diff -
# return element present in either set but not in both
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{4, 5}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [ ]:
### issubset()
#checks all elements of one set are in another
a={1,2}
b={1,2,3,4}
print(a.issubset(b))

# Dictonary
A dictionary in python is a collection of key value pairs, where:
keys are unique and immutable(string,nubers,tuple)
values can be of any datatype(list,string, int, dict)
Dict is unorded(before python 3.7) but insertion- ordered (since python 3.7+)
dict is mutuable
dictionary do not allow duplicate values

In [ ]:
dt = {
    "name" :"ace",      #key: value
     "age" : 20,
     "city" : "",
     1: "Delhi",
     2: "Mumbai",
     (4,5): "kolkata",

      } 
#Changing value of string
dt["city"]="jaipur"    
print(type(dt))
print(dt)

<class 'dict'>
{'name': 'ace', 'age': 20, 'city': 'jaipur', 1: 'Delhi', 2: 'Mumbai', (4, 5): 'kolkata'}

In [ ]:
## dict method
dt={"name" :"ace",      #key: value
     "age" : 20,
     "city" : "Jaipur",
     "town": "hathras",
     }
print(dt.keys())
print(dt.values())
print(dt.items())
print(dt.get("city"))
dt.pop("town")
del dt["age"] # same as pop
print(dt)
dt.popitem() # delete last key and valuepair
print(dt)
dt.update({"hobby" : "gilli danda"})
print(dt)
student={ "101": {"name": "ravi" , "city":"jaipur"} }
student["101"]["city"]

dict_keys(['name', 'age', 'city', 'town'])
dict_values(['ace', 20, 'Jaipur', 'hathras'])
dict_items([('name', 'ace'), ('age', 20), ('city', 'Jaipur'), ('town', 'hathras')])
Jaipur
{'name': 'ace', 'city': 'Jaipur'}
{'name': 'ace'}
{'name': 'ace', 'hobby': 'gilli danda'}

'jaipur'